@charset "urf-8";
/* 모바일 헤더*/
body, input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap{
    position: relative;
    width: 100%;
    min-width: 320px;
}

/* 모바일 -탑배너 */

#topBn_in{    
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #006ff2;
}
#topBn_in a{
    font-size: 11px;
    color: #fff;
}
.topBn_open a{
    border-bottom: 1px solid #fff;
}
.topBn_content{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    justify-content: space-between;
}


/* 모바일 헤드 */
#header{
    width: 100%;
    position: relative;
    z-index: 500;
    border-bottom: 1px solid #e6e6e6;
}
#header_in{
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}
.h_logo a{
    margin-left: 15px;
    content: "";
    display: block;
    text-indent: -99999px;
    width: 104px;
    height: 16px;
    background-size: 104px auto;
    background-repeat: no-repeat;
    background-image: url(../img/logo-gnb.svg);
}
.h_icon{
    display: flex;
}
.h_search .open, .h_cart a ,.h_menu .open, .h_mymenu a{
    margin-right: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-size: 20px auto;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.h_search .open{
    background-image: url(../img/header_search.svg);
}
.h_cart a{
    background-image: url(../img/header_Cart.svg);
}
.h_menu .open{
    background-image: url(../img/header_menu.svg);
}

.pc_gnb{
    display: none;
}
.pc_gnb2{
    display: none;
}
.hk_current{
    position: absolute;
    opacity: 0;
    z-index: -99999px;
}
.h_mymenu{
    display: none;
}
/* 검색어 폼 */
#h_search_form{
    width: 100%;
    background-color: #fff;
    position: relative;
}
.h_search_wrap{
    display: none;
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.lank_in{
    margin-bottom: 20px;
    height: auto;
}
#h_search_keyword{
    box-sizing: border-box;
    width: 95%;
    margin : 10px 10px;
    border-radius: 50px;
    padding: 7px 20px;
    border: 1px solid #dcdcdc;
}
#h_search_submit{
    position: absolute;
    top: 17px;
    right: 30px;
    background-color: #fff;
    border: 0;
    text-indent: -99999px;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../img/header_search.svg);
    background-size: 22px auto;
}
.lank_pan{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.lank_box{
    margin-top: 20px;
    width: 50%;
    height: 300px;
    margin-left: 8px;
    margin-right: 8px;
}
.lank_btn{
    margin-top: 10px;
    padding: 0px 10px;
    justify-content: space-between;
    display: flex;
}
.lank_btn p{
    font-weight: 500;
    padding: 10px 2px;
    margin-left: 3px;
    margin-right: 3px;
    width: 50%;
    border-bottom: 2px solid #e4e4e4;
}
.lanking_list ul{
    width: 100%;
}
.lanking_list ul li{
    margin-bottom: 10px;
    position: relative;
    display: flex;
}
.lanking_list ul li p, .lanking_list ul li p a {
    font-size: 13px;
    color: #000;
}
.lanking_list .lank_number1{
    color: #2188ff;
}
.lank_number, .lank_number1{
    margin-right: 10px;
}
.lank_state.up span{
    top: 5px;
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-size: 11px auto;
    background-repeat: no-repeat;
    text-indent: -99999px;
    background-image: url(../img/icon-arr-blue-up.svg);
}
.lank_state.down span{
    top: 5px;
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    transform: rotate(180deg);
    background-size: 11px auto;
    background-repeat: no-repeat;
    text-indent: -99999px;
    background-image: url(../img/icon-arr-blue-up.svg);
}
.lank_state.same span{
    top: 5px;
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    transform: rotate(180deg);
    background-size: 11px auto;
    background-repeat: no-repeat;
    text-indent: -99999px;
    background-image: url(../img/icon-arr-same.svg);
}
.new_log_del{
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
}
.new_list ul li{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.new_list> ul>.no_data{
    display: none;
}
.new_name a{
    margin-left: 5px;
    font-size: 13px;
    color: #000;
}
.h_search_wrap .new_x span{
    margin-top: 8px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-indent: -99999px;
    background-image: url(../img/btn_close_layer.png);
    background-repeat: no-repeat;
    background-size: 10px auto;
    background-position: right 0 top center;
    transition: 0.5s;
}
.new_log_del a{
    color: #000;
    border-bottom: 1px solid #000;
}
.close{
    position: absolute;
    bottom: -50px;
    right: 50%;
    margin-right: -18px;
    border-radius: 50%;
   background-color: #fff;
   background-image: url(../img/icon-gnb-close.svg);
   text-indent: -99999px;
   background-repeat: no-repeat;
   background-position: center;
   width: 40px;
   height: 40px;
   background-size: 15px auto; 
}
.bg_black{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    display: none;
    text-indent: -99999px;
}
.bg_white{
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    background-color: #fff;
    text-indent: -99999px;
}
/* 모바일 -사이드 */
#side{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    z-index: 1500;
    overflow-y: scroll;
    max-height: 100vh;
}
.search .open{
    background-image: url(../img/header_search.svg);
}
.search .open{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-size: 20px auto;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.search{
    margin-right: 0;
    width: 100%;
    padding: 10px 10px;
    position: relative;
}
.search .open{
    width: 220px;
    padding: 7px 5px;
    background-color: #f5f5f5;
    background-position: right 10px center;
    border-radius: 100px;
}
.search .hk_current{
    opacity: 1;
    z-index: 0px;
    display: block;
    position: absolute;
    top: 15px;
    left: 25px;
}
.search .hk_current .tag{
    color: #000;
    font-size: 11px;
}
.search .hk_current .place{
    color: #000;
    font-size: 11px;
}
#side .h_cart{
    margin-left: 0;
    margin-right: 105px;
}
.side_top{
    width: 100%;
    display: flex;
    align-items: center;
}
.side_close{
    position: absolute;
    top: 17px;
    right: 50%;
    margin-right: -150px;
    width: 23px;
    height: 23px;
}
.side_close a{
    content: "";
    display: block;
    text-indent: -99999px;
    background-image: url(../img/icon-gnb-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 23px;
    background-size: 23px auto; 
    object-fit: cover;
 }

 .side_login{
    margin-left: 15px;
    margin-bottom: 5px;
 }
 .side_login a{
    color: #000;
    font-size: 13px;
    font-weight: 500;
 }
.side_slide{
    width: 320px;
    padding: 10px;
    background-color: #f7f7f7;
 }
.side_slide div{
    display: flex;
}
.s_slide img{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 53px;
    height: 53px;
}
.s_name{
    font-weight: 500;
    font-size: 10px;
    color: #000;
    text-align: center;
}
.side_menu{
    display: flex;
    border-bottom: 1px solid #c4c4c4;
}
.s_menu{
    position: relative;
    width: 135px;
    background-color: #eeeeee;
}
.d1{
    font-size: 13px;
    color: #999;
    margin-left: 5px;
    padding: 10px;
}
.d1.on{
    color: #000;
    background-color: #fff;
    border-radius: 30px 0 0 30px;
}
.s_depth{
    overflow-y: scroll;
    max-height: 99%;
    position: absolute;
    top: 2px;
    right: 50%;
    margin-right: -250px;
    width: 185px;
    display: none;
    
}
.s_depth.on{
    display: block;
}
.m1{
    font-size: 13px;
    color: #000;
    padding: 7px;
    margin-left: 5px;
}
.depth_slide{
    display: block;
}
.depth_slide1 .ds_photo{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.ds_photo{
    width: 128px;
    margin: 10px;
    height: 143px;
}
.ds_photo img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.ds_name{
    width: 100%;
    font-weight: 500;
    font-size: 8px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #000;
}
.side_footer ul li{
    padding: 10px;
    background-color: #f5f5f5;
}
.side_footer ul li a{
    color: #000;
}
/* 모바일 - 푸터1 */
.foot1{
    width: 100%;
    border-top:1px solid #d9d9d9 ;
    border-bottom:1px solid #d9d9d9 ;
}
.foot1 .inner{
    position: relative;
    box-sizing: border-box;
    padding: 10vw 4vw;
}
.f_info1{
    margin-bottom: 2vw;
    font-weight: 500;
    font-size: 3.7vw;
    line-height: 7vw;
    color: #707070;
}
.f_info_btn{
    border-radius: 4vw;
    margin-left: 2vw;
    padding: 1vw 3vw;
    font-size: 3.8vw;
    color: #fff;
    background-color: #777;
}
.f_info2 p{
    font-size: 3.7vw;
    color: #707070;
    margin-bottom: 5vw;
}
.f_info2 .f_info_btn{
    display: block;
    margin-left: 53vw;
}
.f_info2{
    margin-bottom: 10vw;
}
.f_info3{
    display: flex;
    justify-content: space-between;
}
.f_info_img{
    display: flex;
}
.f_info_img a{
    content: "";
    display: block;
    object-fit: cover;  
    background-size: 100% auto;
    vertical-align: middle;
    text-indent: -99999px;
}
.f_info_img1{
    width: 68px;
    height: 48px;
    background-image: url(../img/icon-footer-wa-mo.jpg);
}
.f_info_img2{
    margin-top: 8px;
    margin-left: 18px;
    width: 41px;
    height: 41px;
    background-image: url(../img/icon-footer-eprivacy.svg);
}
#footer .pc{
    display: none;
}
/* 태블릿 */
@media screen and (min-width:768px) {
    #side{
        display: fixed;
    }
    .h_icon{
        position: absolute;
        top:12px;
        right: 0;
        display: flex;
    }
    #topBn_in{
        height: 40px;
    }
    .h_search .open, .h_cart a ,.h_menu .open{
        width: 26px;
        height: 26px;
        background-size: 26px auto;
    }
    #h_search_keyword{
        width: 97%;
    }
    .lank_btn p{
        width: 360px;
    }
    .lank_box{
        width: 370px;
    }
    .h_search_wrap{
        border-radius: 0 0 20px 20px;
        margin-left: auto;
        margin-right: auto;
        width: 768px;
        z-index: 1000;
    }
    .hk_current .tag{
        color: #000;
        font-size: 15px;
    } 
    .h_search_wrap{
        margin-top: 55px;
    }

    /* 태블릿 - 푸터*/
    
    #footer .pc{
        display: block;
    }
    #footer .mo{
        display: none;
    }
    .f_info1{
        letter-spacing: -0.02em;
        font-size: 12px;
        line-height: 16px;
        color: #707070;
    }
    .f_info1 span{
        position: relative;
        margin-bottom: 7px;
        padding-right: 7px;
        padding-left: 7px;    
    }
    .f_info1 span::after{
        position: absolute;
        right: 0;
        top: 4px;
        content: "";
        display: block;
        width: 2px;
        height: 10px;
        border-right: 1px solid #707070;
    }
    .f_info_btn{
        width: 94px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        padding: 2px 10px;
    }
    .f_info11{
        display: flex;
    }
    .foot1 .inner{
        padding-bottom: 40px;
    }
    
    .f_info2{
        padding-right: 150px;
        position: relative;
        line-height: 16px;
        font-size: 12px;
        color: #707070;
        margin-bottom: 0;
    }
    .f_info2 span{
        margin-bottom: 10px;
    }
    .f_info_btn.two{
        width: 15vw;
        position: absolute;
        left: 50%;
        margin-left: 200px;
        padding: 0 8px;
        font-size: 12px;
        text-align: center;
    }
    .foot2 .inner{
        padding: 0 1.5vw;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .f_info21{
        margin: 25px 20px;
        font-size: 13px;
        font-weight: 500;
        color: #707070;
    }
    .foot3{
        width: 100%;
        border-top: 1px solid #d9d9d9;
    }
    .foot3 .inner{
        position: relative;
        padding: 25px 4vw;
    }
    .f3_text1{
        width: 50%;
        margin-bottom: 25px;
    }
    .f3_text1 span{
        letter-spacing: -0.02em;
        line-height: 40px;
        font-size: 1.4vw;
        margin-right: 1.43vw;
        margin-left: 1.43vw;
        font-weight: 500;
    }
    .f3_text1 .f3t1{
        position: relative;
        margin: 0;
        padding-right: 2vw;
    }
    .f3t1::after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 2px;
        height: 12px;
        margin-top: -6px;
        background: #d9d9d9;
    }
    .f3_text2{
        position: absolute;
        display: flex;
        top: 4vw;
        right: 3vw;
    }
    .f3_btn{
        margin-left: 20px;
        position: relative;
        padding: 0.7vw 3.6vw 0.8vw 1.36vw;
        width: 15vw;
        display: inline-block;
        font-size: 1.27vw;
        border-radius: 0.9vw;
        border: 1px solid #b2b2b2;
        font-weight: 500;
        text-align: left;
    }
    .f3_btn::before{
        position: absolute;
        right: 13px;
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-size: 100% auto;
        background-image: url(../img/icon-drop-down-pd.svg);
    }
    .f3_btn.on::before{
        background-image: url(../img/icon-drop-up-pd.svg); 
    }
    .f3_text3 span{
        letter-spacing: -0.02em;
        line-height: 40px;
        font-size: 1.55vw;
        margin-right: 1.43vw;
        font-weight: 500;
    }
    .f3_text3{
        display: flex;
    }
    .f3_text3 a{
        margin-right: 15px;
        content: "";
        display: block;
        width: 36px;
        height: 36px;
        background-size: 100% auto;
        text-indent: -99999px;
    }
    .f3_facebook{
        background-image: url(../img/icon-bold-social-facebook.svg);
    }
    .f3_youtube{
        background-image: url(../img/icon-bold-social-youtube.svg);
    }
    .f3_insatgram{
        background-image: url(../img/icon-bold-social-instagram.svg);
    }
    .f3_kakaotalk{
        background-image: url(../img/icon-bold-social-kakaotalk.svg);
    }
    .f3_twiter{
        background-image: url(../img/icon-bold-social-twitter.svg);
    }
    .f3_share{
        background-image: url(../img/icon-share.svg);
    }
    .droplist{
        display: none;
        background-color: #fff;
        border: 1px solid #b2b2b2;
        border-radius: 10px;
        padding: 2px 0;
        width: 205px;
        position: absolute;
        right: 22vw;
    }
    .droplist li a{
        letter-spacing : -0.1em;
        padding: 0 1.8vw;
        line-height: 2.9vw;
        min-height: 2.9vw;
        font-size: 13px;
        color: #707070;
    }
    .droplist.two{
        width: 227px;
        display: none;
        position: absolute;
        top:-15.3vw;
        right: 0;
    }
}

/* PC */
@media screen and (min-width:1440px) {
    #side{
        display: none;
    }
    #header_in{
        position: relative;
        width: 1440px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    #topBn_in{
        width: 1440px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .topBn_content{
        width: 500px;

    }
    #header{
        z-index: 900;
    }
    .h_logo a{
        position: absolute;
        top: 30px;
        width: 135px;
        height: 40px;
        background-size: 135px auto;

    }
    .h_search .open, .h_cart a ,.h_menu .open{
        width: 26px;
        height: 26px;
        background-size: 26px auto;
    }
    .pc_gnb{
        position: absolute;
        display: block;
        top: 50px;
        left: 0px;
    }
    .pc_gnb ul{
        display: flex;
    }
    .pc_gnb ul li{
        margin-right: 3px;
        padding: 20px 0 30px 0;
    }
    .pc_gnb .b1{
        padding-bottom: 20px;
    }
    .pc_gnb .m1:hover{
        background-color: #000;
        color: #fff;
        border-radius: 50px;
    }
    .pc_gnb .d1 a{
        font-size: 12px;
        font-weight: 500;
        color: #000;
    }
    .pc_gnb >ul>li:last-child::before{
        content: "";
        border-left: 1px solid #999;
    }
    .pc_gnb2{
        position: absolute;
        display: block;
        top: 60px;
        right:50%;
        margin-right: -620px;
    }
    .pc_gnb2 ul{
        display: flex;
    }
    .pc_gnb2 .d1{
        margin-right: -10px;
    }
    .pc_gnb2 .d1 a{
        font-size: 13px;
        font-weight: 500;
        color: #000;
    }.h_menu .open{
        display: none;
    }
    .h_cart a{
        position: absolute;
        top: 50px;
        right: 40px;
    }
    .h_mymenu{
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
    }
    .h_mymenu a{
        width: 26px;
        height: 26px;
        background-size: 26px auto;
        background-image: url(../img/icon_mypage.svg);
    }
    .pc_gnb2 .d1 .m2::after{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-left: 3px;
        background-size: 13px auto;
        background-position: right 0 top 1px;
        background-repeat: no-repeat;
        background-image: url(../img/icon-arrow.svg);
    }
    .h_search{
        position: absolute;
        top: 0;
        right: 0;
    }
    .h_search .open{
        width: 350px;
        padding: 7px 5px;
        background-color: #f5f5f5;
        background-position: right 10px center;
        border-radius: 100px;
    }
    .hk_current{
        opacity: 1;
        z-index: 0px;
        display: block;
        position: absolute;
        width: 375px;
        top: 10px;
        right: 50%;
        margin-right: -200px;
    }
    .pc_gnb .d1{
        z-index: 800;
        padding-bottom: 15px;
        position: relative;
    }
    .pc_gnb_menu_in{
        padding: 0 20px;
        width: 700px;
        display: flex;
        background-color: #fff;
        border-radius: 0 0 20px 20px;
    }
    .pc_gnb_menu{
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        border-top: 1px solid #dddddd;
        background-color: #fff;
        border-radius: 0 0 20px 20px;
    }
    .gnb_menu_text{
        width: 190px;
        border-right: 1px solid #dddddd;
    }
    .menu_text a{
        display: inline-block;
        padding: 5px;
    }
    .menu_text a::after{
        content: "";
        display: block;
        border-bottom: 1px solid #000;
        transform: scaleX(0);
        transition: 250ms ease-in-out;
    }
    .menu_text:hover.menu_text a::after{
        transform: scaleX(1);
    }
    .gnb_menu_img{
        width: 450px;
        padding: 20px 20px;
    }
    .img_list{
        display: flex;
    }
    .menu_img{
        position: relative;
        width: 128px;
        margin: 10px;
    }
    .menu_img .photo{
        width: 128px;
        height: 143px;
        border-radius: 30px;
        overflow: hidden;
    }
    .menu_img .photo img{
        width: 100%;
        height: auto;
        transition: 0.6s;
    }
    .menu_img:hover .photo img {
        transform: scale(1.3);
        /* 이미지를 1.3배로 키워서 쓰기 */
    }
    .menu_text2, .menu_text3{
        width: 128px;
        font-size: 12px;
        text-align: center;
        position: absolute;
        bottom: 10px;
        color: #000;
    }
    .menu_text3{
        color: #fff;
    }
    /* PC - 푸터 */
    
    #footer .inner{
        max-width: 1440px;
        margin: 0 auto;
        padding: 36px 24px;
        height: auto;
    }
    #footer .foot2 .inner{
        max-width: 1440px;
        padding: 15px 24px;
        height: 80px;
        box-sizing: border-box;
    }
    #footer .foot3 .inner{
        position: relative;
        max-width: 1440px;
        height: 80px;
        box-sizing: border-box;
    }
    .f_info1{
        margin-bottom: 20px;
    }
    .f_info21{
        padding: 0;
        margin: 0;
    }
    .f_info_btn.two{
        margin-left: 600px;
    }
    .f3_text1 span{
        font-size: 14px;
        line-height: 40px;
    }
    .f3_text3 span{
        font-size: 14px;
        line-height: 40px;
    }
    .f3_text1 .f3t1{
        padding: 0;
        padding-right: 23px;
    }
    .f3_text1 span{
        padding : 0;
        padding : 0 17px;
        margin:  0;
    }
    .f3_text2{
        position: absolute;
        display: flex;
        top: 70px;
        right: 50px;
    }
    .f3_btn{
        font-size: 13px;
        width: 180px;
        box-sizing: border-box;

    }
    .droplist{
        top: 20px;
        left: 50%;
        margin-left: -580px;
    }
    .droplist.two{
        width: 220px;
        top: -226px;
        margin-left: -360px;
    }
    .f3_text2 .f3_btn{
        width: 200px;
        top: -20px;
        right: 380px;
        display: inline-block;
        min-height: 40px;
        padding: 0vw;
        padding: 8px 40px 0px 15px;
        border-radius: 10px;
        font-size: 14px;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }
    .f3_t2li .droplist li a{
        padding: 5px;
        margin: 20px;
        line-height: 40px;
    }
    .f_info_btn.two{
        width: 130px;
        left: 0;
    }
}

